POSTGRES_DB=posdb
POSTGRES_USER=posapp
POSTGRES_PASSWORD=ChangeThisDatabasePassword!

SESSION_TOKEN_PEPPER=ReplaceWithAtLeast64RandomHexChars
CORS_ORIGIN=http://localhost:3000
COOKIE_SECURE=false

SESSION_TTL_MINUTES=480
PBKDF2_ITERATIONS=210000
LOGIN_MAX_ATTEMPTS=8
LOGIN_WINDOW_SECONDS=300

BOOTSTRAP_ADMIN_USERNAME=admin
BOOTSTRAP_ADMIN_PASSWORD=ChangeThisAdminPassword123!